<div>
	<h3>Select</h3>
	<div>
		<p>Next oldest file:</p>
		<p id="oldestArchive"></p>
		<button type="button" id="loadOldestArchive" class="btn btn-primary btn-large btn-block">Load Next Archive</button>
	</div>

	
</div>

<div>
	<h3>Working</h3>
	<div id="working"></div>
</div>


<div>
	<h3>Problems</h3>
	<div id="problem"></div>
</div>

<div>
	<h3>Pending Batch Upload</h3>
	<div id="pending"></div>
</div>

<button type="button" id="prepBatch" class="btn btn-primary btn-large btn-block">Prepare Batch Upload</button>
