<h3>Select</h3>

<hr>

<div>
	<span>Number of Archives: </span><span id="numArchives"></span>
	<p> </p>
	<p hidden>Next oldest file:</p>
	<p id="oldestArchive" hidden></p>
	<p id="modifiedDate" hidden></p>
	<button type="button" id="loadBtn" class="btn btn-primary btn-large btn-block">Load next ETD</button>
</div>


<div>
	<h3>Working</h3>
	<div id="working"></div>
</div>


<div>
	<h3>Problems</h3>
	<div id="problem"></div>
</div>

<div>
	<h3>Pending Batch Upload</h3>
	<div id="pending"></div>
</div>

<div id="batchBtn" hidden>
	<button class="btn btn-primary btn-large btn-block">Download Batch File</button>
</div>
