/* CU branding header */
header {
    width: 100%;
    height: 120px;
    background-color: black;
}
.banner {
    height: 100%;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
}
.banner-text {
    color: white;
    font-size: 28px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue", sans-serif;
    padding: 17px 0 0 80px;
}

/* regions */
.file-select-region {
    background-color: lightgrey;
}
.xml-edit-region {
    background-color: lightgrey;
}
.xml-view-region {
    background-color: grey;
}
/* keep the three view regions the same height */
.row.match-my-cols {
    overflow: hidden;
}
.row.match-my-cols [class*="col-"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.legend {
    font-size: 125%;
}
#batchBtn {
    padding-top: 20px;
}

